@import '../bourbon/bourbon';
@import 'mixins';
@import 'variables';
@import 'helpers';
@import 'media';


/**
* Global -------------- */

*, *:before, *:after{
	@include box-sizing(border-box);
}

html, 
body{
	@extend .reset;
}

html{
	min-height: 100%;
	position: relative;
}

body{
	background-color: #fff;
	color: $text-color;
	font-size: 14px;
	font-style: normal;
	line-height: 1;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale; 
	-webkit-font-smoothing: antialiased;
}

	body{
		font-family: $font-montserrat;
		font-weight: 400;
	}

h1, h2, h3, h4, h5, h6{
	font-family: $font-montserrat;
	color: $dark-color;
	font-style: normal;
	line-height: 1.4;
	margin-bottom: 15px;
	margin-top: 15px;
	text-rendering: optimizeLegibility;
}

p,ul,ol{
	font-family: $font-muli;
	color: $text-color;
	font-size: 16px;
	line-height: 1.6;
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
}	

ul, ol{
	list-style: none;
	line-height: 1.8;
	@extend .reset;

	.dot{
		color: $white-color;
		font-size: 10px;
		width: 18px;
		height: 18px;
		line-height: 18px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		margin-right: 10px;
		@include border-radius(50%);
	}
}

img{
	max-width: 100%;
	height: auto;
}	

a{
	color: $primary-color;
	text-decoration: none !important;
	@include transition(all, 0.3s, ease);

	&.anchor{
		font-family: $font-montserrat;
	}

	&:hover{
		color: $secondary-color;
	}

	&:focus{
		outline: 0;
	}
}

strong,
label{
	font-family: $font-montserrat;
	font-weight: 400;
}

/**
* Hero -------------- */

header{
	.hero{
		padding-top: 40px;
		padding-bottom: 40px;
		background: $primary-color url(../images/grid.png);
		color: $white-color;
		min-height: 680px;

		h1, h2, h4, p{
			color: $white-color;
		}

		h1{
			margin: 100px 0 15px 0;
			font-size: 30px;

			@media screen and (min-width: $screen-sm){
				margin: 150px 0 15px 0;
				font-size: 40px;
			}

			@media screen and (min-width: $screen-md){
				margin: 200px 0 15px 0;
				font-size: 45px;
			}
		}

		.logo{
			display: inline-block;
			color: $white-color;

			h2, h4{
				text-transform: uppercase;
				letter-spacing: 0.125rem;
				@extend .reset;
			}

				h2{
					font-size: 16px;
					@extend .reset;

					@media screen and (min-width: $screen-sm){
						font-size: 20px;
					}
				}

				h4{
					font-size: 12px;
					margin-bottom: 5px;
					color: $light-color;
				}
		}

		.btn{
			max-width: 320px;
			margin: auto;
			display: block;
			margin-bottom: 10px;

			@media screen and (min-width: $screen-sm){
				display: inline-block;
			}
		}

		.anchor{
			color: $white-color;

			&:hover{
				color: $tertiary-color;
			}
		}


	} // .hero
}


/**
* Sections -------------- */

section{
	&.section-bar{
		.container{
			border-bottom: 1px solid $border-color;
		}
	}

	.device-browser{
		position: relative;
		@include border-radius(5px 5px 0 0);
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;

		&:before{
			content: '';
			display: block;
			position: relative;
			height: 30px;
			width: 100%;
			background-color: #ddd;
			@include border-radius(5px 5px 0 0);
		}

		.device-details,
		.device-details:before,
		.device-details:after{
			z-index: 10;
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: $tertiary-color;

			&:before,
			&:after{
				content: '';
				left: 20px;
				top: 0;
			}

			&:before{
				background-color: $primary-color;
				left: 40px;
			}

			&:after{
				background-color: $blue-color;
			}
		}

		.device-content{
			max-height: 400px;
			height: 0px;
			width: 100%;
			padding-bottom: 70%;
		}
	}
}

/**
* Showcase -------------- */

#showcase-customers{

	.customer-logos{
		list-style: none;
		text-align: center;
		@extend .reset;

		li{
			width: 150px;
			display: inline-block;
			vertical-align: middle;

			a[class*='customer-logo-'] {
			  display: block;
			  width: 100%;
			  height: 0;
			  padding-bottom: 30%;
			  background: url(../images/grayscale-logos.png) 0 0 no-repeat;
			  background-size: cover;
			  overflow: hidden;
			  text-indent: 100%;
			  margin-bottom: 10px;
			  white-space: nowrap;
			 @include opacity(0.5);

			  	@media screen and (min-width: $screen-sm){
			  		margin-bottom: 0;
			  	} 

				&:hover{
					@include opacity(0.75);
				}
			}
		}
	}

	.btn{
		max-width: 320px;
		margin: auto;
		display: block;
		margin-bottom: 10px;

		@media screen and (min-width: $screen-sm){
			display: inline-block;
		}
	}

}

.customer-logos-colored{

	.logo-colored{
		width: 300px;

		a[class*='customer-big-'] {
		  display: block;
		  width: 100%;
		  height: 0;
		  padding-bottom: 30%;
		  background: url(../images/color-logos.png) 0 0 no-repeat;
		  background-size: cover;
		  overflow: hidden;
		  text-indent: 100%;
		  white-space: nowrap;
		}
	}

}


/**
* Services -------------- */

#services{

	.service{
		.service-content{
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}

#showcase{
	overflow: hidden;

	.showcase-single{
		overflow: hidden;

		&:nth-of-type(even){
			background-color: $dirty-color;
		}
	}

	.showcase-customer{
		position: relative;

		@media screen and (min-width: $screen-sm){

			.showcase-thumbnail{
				position: absolute;

				&.left{
					left: -100%;
				}

				&.right{
					right: -100%;
				}
			}
		}

		@media screen and (min-width: $screen-md){
			min-height: 700px;

			.showcase-thumbnail{

				&.left{
					left: -50%;
				}

				&.right{
					right: -50%;
				}
			}
		}

		.showcase-customer-content{
			margin-bottom: 40px;
		}

		.btn{
			max-width: 320px;
			display: block;
			margin-bottom: 10px;

			@media screen and (min-width: $screen-sm){
				display: inline-block;
			}
		}
	}
}


/**
* Footer -------------- */

footer{
	.footer{

		.box{
			width: 600px;
			min-height: 200px;
			max-width: 100%;

			.about{
				.about-content{
					@media screen and (min-width: $screen-md){
						padding-left: 140px;
					}
				}
			}

			@media screen and (min-width: $screen-sm){
				padding-left: 40px;
				padding-right: 40px;
			}

			h3, p{
				color: $white-color;
			}
		}	

	}

	.credits{
		
		p{
			margin: 0;
			font-size: 12px;
			letter-spacing: 1px;
		}
	}
}
